{% load static %}
  
  <header class="header">
    <div class="container container--narrow">
      <a href="{% url 'home' %}" class="header__logo" style="display: flex; align-items: center; gap: 10px; text-decoration: none;">
        <img src="{% static 'static_web_images/logo.png' %}" alt="DevSearch Logo" style="height: 40px; width: auto;">
        <h1 style="margin: 0; font-size: 2rem; color: white; font-weight: 550;">j'Pura Dev</h1>
      </a>
      <nav class="header__nav">
        <input type="checkbox" id="responsive-menu" />
        <label for="responsive-menu" class="toggle-menu">
          <span>Menu</span>
          <div class="toggle-menu__lines"></div>
        </label>
        <ul class="header__menu">
          <li class="header__menuItem"><a href="{% url 'home' %}">Developers</a></li>
          <li class="header__menuItem"><a href="{% url 'projects' %}">Projects</a></li>
          {% if request.user.is_authenticated %}
            <li class="header__menuItem"><a href="">Inbox</a></li>
            <li class="header__menuItem"><a href="{% url 'my-account' request.user.username %}">Account</a></li>
            <li class="header__menuItem"><a href="{% url 'logout' %}" class="btn btn--sub">Logout</a></li>
          {% else %}
            <li class="header__menuItem"><a href="{% url 'login' %}" class="btn btn--sub">Login/Sign Up</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </header>


      <div style="text-align: center;">
        {% if messages %}
          {% for message in messages %}
            <div id="closer" style="display: inline-block;">
                <div id="msg-{{message.tags}}" style="display: inline-block; 
                    margin-top: 10px;
                    padding: 10px 10px; 
                    border-radius: 5px;"> 
                    <span style="color: black;" >{{ message }}</span>
                </div>
            </div>
          {% endfor %}
        {% endif %}
      </div>

