{% extends 'base.html' %}

{% block content %}

<main class="singleProject my-md">
    <div class="container">
      <div class="layout">
        <div class="column column--1of3">
          <h3 class="singleProject__subtitle">Tools & Stacks</h3>
          <div class="singleProject__toolStack">
            {% for tag in tags %}
            <span class="tag tag--pill tag--sub tag--lg">
              <small>{{tag}}</small>
            </span>
            {% endfor %}
          </div>
          {% if project.source_link %}
          <a class="singleProject__liveLink" href="{{project.source_link}}" target="_blank"><i class="im im-external-link"></i>Source Code
          </a>
          {% endif %}
        </div>
        <div class="column column--2of3">
          <img class="singleProject__preview" src="{{project.imageURL}}" alt="portfolio thumbnail" />
          <a href="{% url 'user-profile' project.owner.username %}" class="singleProject__developer">{{project.owner.username}}</a>
          <h2 class="singleProject__title">{{project.title}}</h2>
          <h3 class="singleProject__subtitle">About the Project</h3>
          <div class="singleProject__info">
                {{project.description}}
          </div>

          <div class="comments">
            <h3 class="singleProject__subtitle">Feedback</h3>
            <h5 class="project--rating">
              {{project.vote_ratio}}% Postitive Feedback ({{project.vote_total}} Vote{{project.vote_total|pluralize:"s"}})
            </h5>

            {% if request.user.is_authenticated %}
              {% if request.user == project.owner %}
                <p>You can't vote on your own project!</p>
              {% elif request.user.id in project.reviewers %}
                <p>You've already voted!</p>
              {% else %}
                <form class="form" action="" method="POST">
                  {% csrf_token %}
                  {% for field in form %}
                    <div class="form__field">
                      <span>{{field.label}}</span>
                      <!-- <label for="formInput#text">{{field.label}}</label> -->
                      {{field}}
                    </div>
                  {% endfor %}
                  <input class="btn btn--sub btn--lg" type="submit" value="Comments" />
                </form>
              {% endif %}
            {% else %}
              <a href="{% url 'login' %}?next={{request.path}}">You need to login before voting this!</a>
            {% endif %}

            <div class="commentList">
              {% for review in project.review_set.all %}

              <div class="comment">
                {% if review.body %}
                <a href="{% url 'user-profile' review.reviewer.username %}">
                  <img class="avatar avatar--md"
                    src="{{review.reviewer.profile.imageURL}}" alt="user" />
                </a>

                <div class="comment__details">
                  <a href="{% url 'user-profile' review.reviewer.username %}" class="comment__author">{{review.reviewer.profile.name}}</a>
                  <p class="comment__info">
                    {{review.body|linebreaksbr}}
                  </p>
                </div>
                {% endif %}
              </div>
              {% endfor %}

            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </main>
{% endblock content %}